parameters:
  level: 8
  paths:
    - includes/
    - storestack-checkout.php # Main plugin file
  bootstrapFiles:
    - phpstan-bootstrap.php
  scanFiles:
    - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
